{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>検索結果</title>
    <link rel='stylesheet' type='text/css' href='{% static "insta/css/style.css" %}' />
</head>

<body>
    <h2>ショッピングカート内の商品一覧</h2>

    <table>
		<tr>
			<td>商品名</td>
			<td>商品の色</td>
			<td>メーカー名</td>
            <td>単価</td>
            <td>数量</td>
		</tr>
   

    {% if user_cart %}
        {% for cart in user_cart %}
        <tr>
            <td>{{ cart.item.name }}</td>
            <td>{{ cart.item.color }}</td>
            <td>{{ cart.item.manufacturer }}</td>
            <td>{{ cart.item.price }}</td>
            <td>{{ cart.amount }}</td>
        </tr>
        {% endfor %}
    </table>
        <p>合計{{total_price}}円</p>


        <form action="{% url 'smartshop:search' %}" method="post">
            {% csrf_token %}

            <input type="submit" value="購入する"><br>

    {% else %}
        カートに商品がありません
    {% endif %}
     

   
   
        <a href="{% url 'smartshop:search' %}">商品検索へ</a><br>

</body>

</html>
