{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>商品検索</title>
    <link rel='stylesheet' type='text/css' href='{% static "insta/css/style.css" %}' />
</head>

<body>
    <h2>商品の検索を行います</h2>
    <form action="{% url 'smartshop:search_result' %}" method="post">
        {% csrf_token %}
        カテゴリ：<select name="category">
        <option value="All"selected>すべて</option>
        <option value=1>鞄</option>
        <option value=2>帽子</option>
        </select>
        キーワード：<input type="text" name="keyword" size="40">
        <input type="submit" value="検索">

    </form>
        <a href="{% url 'smartshop:cart' %}">ショッピングカートを見る</a><br>
        <a href="{% url 'smartshop:cart' %}">購入履歴（任意機能）</a><br>
        {% if request.session.user_id %}
        <p>ようこそ {{ request.session.name }} さん</p>
        {% endif %}

        {% if not request.session.user_id %}
        <a href="{% url 'smartshop:login' %}">ログイン</a><br>
        {% endif %}
        {% if request.session.user_id %}
        <a href="{% url 'smartshop:updateUser' %}">会員情報の変更</a><br>
        <a href="{% url 'smartshop:userInfo' %}">会員情報の確認</a><br>
        <a href="{% url 'smartshop:logout' %}">ログアウト</a><br>
        {% endif %}
        <a href="{% url 'smartshop:login' %}">管理者ページ</a><br>
        

</body>

</html>
